# Auto detect text files and perform LF normalization
* text=auto

# Track everything under Assets/Firebase with LFS by default
Assets/Firebase/** filter=lfs diff=lfs merge=lfs -text

# EXCEPT necessary — treat them as normal text
Assets/Firebase/*.meta -filter -diff -merge text
Assets/Firebase/**/*.meta -filter -diff -merge text
Assets/Firebase/*.dll -filter -diff -merge binary
Assets/Firebase/**/*.dll -filter -diff -merge binary
Assets/Firebase/Editor/generate_xml_from_google_services_json.exe -filter -diff -merge binary
